# Backend

# SQL Server connection string
DATABASE_URL="sqlserver://sa:Hosting123@LALIT-PC\\SQLEXPRESS:1433/db_CMS_PHQ_new?encrypt=true&trustServerCertificate=true"

# JWT secret key
JWT_SECRET="phq-dashboard-secret-key-2024"

# Server port
PORT=3000

# Environment
NODE_ENV=development